# Ignore specific directories
AIProject/
MongoSparkConnector/
air_quality_env/

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all CSV files in the project
*.csv

# Ignore specific files
UnitsDoc.txt
dataVerification.txt
.dockerignore
API_msg_format.json
# Ignore specific directories in the root of the project
test/
plugins/
logs/